body{
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}


.nav{
    margin: 50px 0;
}

.nav_container{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_socials{
    display: flex;
    justify-content: flex-end;
}

.nav_socials--facebook,
.nav_socials--instagram{
    width: 70%;
    margin-left: 10px;
}

.body{
    margin: 50px 0;

}

.body_container{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.body_header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.body_image{
    width: 90%;
}

.body_image2{
    display: none;
}

.body_subheader{
    color: #EE752C;
    font-weight: 750;
    font-size: 50px;
}

.body_text--browse,
.body_text--contact{
    font-weight: 500;
    font-size: 25px;
    margin-top: 20px;
}

.body_bttns{
    display: flex;
}

.body_bttn--products{
    margin-top: 20px; 
}

.body_bttnwrapper{
    background-color: white;
    color: #EE752C;
    border: 1px solid white;
    border-radius: 40px;
    padding: 10px 20px;
}

.body_bttnwrapper a{
    text-decoration: none;
    color: #EE752C;
    font-weight: 600;
}

.body_bttn--email,
.body_bttn--call{
    display: flex;
    align-items: center;
    background-color: #EE752C;
    border: 1px solid #EE752C;
    border-radius: 40px;
    padding: 10px 20px 10px 10px;
}

.body_bttnwrap{
    width: 50%;
}

.body_bttnimg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.body_bttns{
    margin-top: 20px;
}

.body_bttn--call{
    margin-right: 15px;
}

.body_bttn--email a,
.body_bttn--call a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.nav_logoimg{
    width:60%;
}

@media screen and (max-width: 1440px){
    .body {
        display: flex;
    }

}

@media screen and (max-width: 1024px){
    .body_subheader {
        font-size: 40px;
    }

    .body_text--browse, .body_text--contact {
        font-size: 22px;
    }

    .nav_logoimg{
        width: 50%;
    }

    .body_image {
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    .body_subheader {
        font-size: 35px;
    }

    .body_text--browse, .body_text--contact {
        font-size: 20px;
    }

}

@media screen and (max-width: 425px){

    .nav{
        margin: 5px 0;
    }
    
    .nav_logoimg {
        width: 60%;
    }
    
    .body_container{
        width: 90%;
    }

    .body{
        display: block;
        margin-top: 5px;
    }

    .nav_container{
        display: flex;
        flex-direction: column;
    }

    .nav_logo{
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }

    .nav_socials a{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav_socials--facebook, .nav_socials--instagram {
        width: 50%;
        margin-left: 0px;
    }

    .body_image{
        display: none;
    }

    .body_image2{
        display: block;
        width: 100%;
    }

    .body_subheader {
        font-size: 25px;
    }

    .body_text--browse, .body_text--contact {
        font-size: 20px;
        text-align: center;
    }

    .body_bttns{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .body_bttn--email{
        margin-top: 20px;
    }

}

@media screen and (max-width: 375px){
    .body_subheader {
        font-size: 23px;
        text-align: center;
    }

    .body_text--browse, .body_text--contact {
        font-size: 18px;
    }
}